/**
HEADER
 */
.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header--options-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header--options-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 15%;
}

.header--lang-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 10%;
}

.header--links-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
/*
FOOTER
 */
.footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

/*
UTILS
 */

.container {
    width: 100%;
    height: 100%;
}

.elevator {
    font-size: 12rem;
    position: fixed;
    bottom: 1vh;
    right: 1vw;
}
