/**
HEADER
 */
.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2vh;
}

.header li {
    cursor: pointer;
}

.header--options-container {
    position: relative;
}

.header--options-container:hover .header--options-list {
    display: block;
}

.header--options-list {
    display: none;
    list-style: none;
    width: 15%;
    position: absolute;
}

.header--options-list li {
    display: block;
    width: 100%;
}

.header--links-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header--links-list {
    width: 100%;
}
/*
FOOTER
 */
.footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

/*
UTILS
 */

.container {
    width: 100%;
    height: 100%;
}

.elevator {
    font-size: 3rem !important;
    cursor: pointer;
    position: fixed;
    bottom: 1vh;
    right: 1vw;
}
